@model CinemasFAST.Models.cinema

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "cinemas"))
{
    @Html.AntiForgeryToken()
    <div class="jumbotron">
        <h4>Détails du cinéma</h4>
        @if (ViewBag.erreur == "Existe")
        {
        <h4 class="text-danger">Un cinéma avec ce nom existe déja!</h4>
        }
        else if (ViewBag.erreur == "Succes")
        {
        <h4 class="text-success">Cinéma modifié avec succès!</h4>
        }
    </div>

    <div class="form-horizontal">
        <div class="d-flex flex-column justify-content-between">
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.adresse, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control col-md-12" } })
                        @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id_responsable)
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 mt-5 pt-4">
                        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-dark" })
                        <input type="submit" value="Enregistrer" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
