@model IEnumerable<CinemasFAST.Models.cinema>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Liste des cinémas</h2>
    @if (ViewBag.erreur == "Existe")
    {
        <h4 class="text-danger">Un cinéma avec ce nom existe déja!</h4>
    }
    else if (ViewBag.erreur == "Aucune")
    {
        <h4 class="text-success">Le cinéma a été ajouté avec succès!</h4>
    }
    else if (ViewBag.erreur == "Invalide")
    {
        <h4 class="text-danger">Le formulaire de création du cinéma n'a pas été bien rempli.</h4>
    }
    else if (ViewBag.erreur == "Utilise")
    {
        <h4 class="text-danger">Ce cinéma ne peut pas être supprimé, des séances sont planifiées à l'horaire.</h4>
    }
    else if (ViewBag.erreur == "succesDelete")
    {
        <h4 class="text-success">Le cinéma a bien été supprimé!</h4>
    }
</div>

@using (Html.BeginForm())
{
    if (ViewBag.searchRequest == null || !ViewBag.searchRequest)
    {
        <div class="col-12 d-flex">
            @Html.TextBox("SearchString", null, new { @class = "form-control col-5 mr-2", placeholder = "Rechercher par le nom du cinéma" })
            <input type="submit" value="Lancer la recherche" class="btn btn-primary" />
        </div>
    }
    else
    {
        <div class="col-12 d-flex">
            <input type="submit" value="Afficher la liste complète" class="btn btn-primary" />
        </div>
    }
}

<div class="scrollable">
    <table class="table table-light table-striped table-hover sortable">
        <thead>
            <tr>
                <th data-defaultsort="asc">
                    @Html.DisplayNameFor(model => model.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.adresse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.responsable.nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.telephone)
                </th>
                <th data-defaultsort="disabled"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.adresse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.responsable.prenom)
                        @Html.DisplayFor(modelItem => item.responsable.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telephone)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-info fa fa-info-circle" })
                        @Html.ActionLink(" ", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger fa fa-trash", @onclick = "return confirm('Voulez-vous supprimer ce cinéma?');" })
                    </td>
                </tr>
            }

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="font-italic h4 text-secondary">Aucun cinéma n'a été trouvé selon votre recherche.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<div class="mb-3">
    @Html.ActionLink("Retour à l'accueil", "Index", "Home", null, new { @class = "btn btn-dark" })
    <input type="button" value="Ajouter un cinéma" class="btn btn-success"
           data-toggle="modal" data-target="#cinemaCreate" />
</div>




