@model CinemasFAST.Models.cinema

@{
    ViewBag.Title = "Create";
}

<div class="jumbotron">
    <h2>Ajouter un nouveau cinéma</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4 class="text-danger">@Session["createErreur"]</h4>

    <div class="d-flex row table-light mb-4">
        <div class="form-horizontal col-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.adresse, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <button type="button" class="btn btn-dark">@Html.ActionLink("Retour", "Index", "cinemas")</button>
        <input type="submit" value="Ajouter" class="btn btn-success" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@{
    //Permet d'effacer le message d'erreur si on reload ou change de page.
    Session["createErreur"] = "";
}