@model CinemasFAST.Models.film

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "films"))
{

    <div class="modal fade" id="filmCreate" tabindex="-1" role="dialog" aria-labelledby="Longtitle3"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Longtitle3">Ajouter un film</h5>
                    <h4 class="text-danger">@Session["createErreur"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    @Html.AntiForgeryToken()
                    <div class="d-flex row col-12">
                        <div class="form-horizontal col-6">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.titre, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.titre, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                               placeholder = "Le titre du film"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.titre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.annee, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.annee, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                   placeholder = "L'année de sortie du film"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.annee, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.id_genre, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("id_genre", null, htmlAttributes: new { @class = "form-control col-12" })
                                    @Html.ValidationMessageFor(model => model.id_genre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.duree, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.duree, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                   placeholder = "La durée (en minutes) du film"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.duree, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.note, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.note, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                   placeholder = "La note globale du film sur 10"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.note, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.nbr_votes, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.nbr_votes, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                   placeholder = "Le nombre de votes total"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.nbr_votes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.revenue, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.revenue, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                   placeholder = "Le revenu au Box Office (en millions)"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.revenue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.DropDownList("type", new List<SelectListItem>
                                                         { new SelectListItem { Text = "Standard", Value = "Standard", Selected=true},
                                                           new SelectListItem { Text = "Court métrage", Value = "Court métrage"},
                                                           new SelectListItem { Text = "Promotionnel", Value = "Promotionnel"}
                                                           }, new { @class = "form-control col-12" })
                                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-horizontal col-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.image, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                               placeholder = "L'url de l'image"
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.description, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control col-12",
                                            @rows = 23,
                                   placeholder = "Veuillez remplir un court synopsis du film afin de connaître en résumé l'histoire du film."
                                        }
                                    })
                                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Ajouter" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}