@model CinemasFAST.Models.film

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbr_votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbr_votes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genre.nom)
        </dd>

    </dl>
</div>
